<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">JWT Auth System</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
  @if(userDetails){
    <div class="card m-5" style="width:18rem">
        <ul class="list-group">
        <li class="list-group-item"><strong>Name : </strong>{{userDetails.Name}}</li>
        <li class="list-group-item"><strong>Surname : </strong>{{userDetails.Surname}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{userDetails.Email}}</li>
        </ul>
    </div>
    }